#paletteDeCouleur{
    height: 120px;
    width: 180px; 
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.couleur{
    height: 40px;
    width: 40px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.selected{
    box-shadow: none;
}

#Try{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.leftTry{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.rightTry{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.rightTry>div{
    width: 10px;
    height: 10px;
}

.notCurrentTry{
    background-color: rgba(23,162,184,0.4) !important;
    border: 0 !important;
}